<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>Filters.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <servlet-name>ModelMenu</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <servlet-name>CreateModel</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <servlet-name>SetCriteria</servlet-name>
        <servlet-name>SetSubCri</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <servlet-name>DefineSpecification</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <servlet-name>ProjectMenu</servlet-name>
        <servlet-name>CreateProject</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>TestServ</servlet-name>
        <servlet-class>Pack.TestServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetCriteria</servlet-name>
        <servlet-class>DSST.Servlet.SetCriteria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>DSST.Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>DSST.Servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSubCri</servlet-name>
        <servlet-class>DSST.Servlet.SetSubCri</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModelMenu</servlet-name>
        <servlet-class>DSST.Servlet.ModelMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateModel</servlet-name>
        <servlet-class>DSST.Servlet.CreateModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DefineSpecification</servlet-name>
        <servlet-class>DSST.Servlet.DefineSpecification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectMenu</servlet-name>
        <servlet-class>DSST.Servlet.ProjectMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProject</servlet-name>
        <servlet-class>DSST.Servlet.CreateProject</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServ</servlet-name>
        <url-pattern>/TestServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetCriteria</servlet-name>
        <url-pattern>/SetCriteria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSubCri</servlet-name>
        <url-pattern>/SetSubCri</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModelMenu</servlet-name>
        <url-pattern>/ModelMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateModel</servlet-name>
        <url-pattern>/CreateModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DefineSpecification</servlet-name>
        <url-pattern>/DefineSpecification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectMenu</servlet-name>
        <url-pattern>/ProjectMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProject</servlet-name>
        <url-pattern>/CreateProject</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
